/*
		 Chris Coyier
		 http://css-tricks.com
*/

*					{ margin: 0; padding: 0; }
body				{
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	
}
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear				{ clear: both; }

div#page-wrap		{
	width: 800px;
	margin: 40px auto;

}

.box-three			{
	width: 460px;
	background: #cfffff;
	border: 1px solid #33ccff;
	-moz-border-radius: 12px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color:#303c49;
}
.box-three .inside	{ padding: 20px; }

.box-four			{ width: 300px; background: #fbeac3; border: 1px solid #534515; margin: 10px 0;}
.box-four .inside	{ padding: 20px; }

.box-five			{ width: 300px; background: #fbeac3; border: 1px solid #534515; position: relative; margin: 10px 0;}
.box-five .tl		{ position: absolute; width: 14px; height: 14px; background: url(images/box-two-tl.png); top: -1px; left: -1px; }
.box-five .tr		{ width: 14px; height: 14px; background: url(images/box-two-tr.png); position: absolute; top: -1px; right: -1px; }
.box-five .bl		{ width: 14px; height: 14px; background: url(images/box-two-bl.png); position: absolute; bottom: -1px; left: -1px; }
.box-five .br		{ width: 14px; height: 14px; background: url(images/box-two-br.png); position: absolute; bottom: -1px; right: -1px; }
.box-five .inside	{ padding: 20px; }

.tabela			{
	margin-left:10px;
	
	}
	
.titles			{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	background-color: #FF3;
	margin-left:10px;
	margin-right:10px;
	color:#303c49;
	font-weight: bold;
	border: 1px solid #303c49;
	border-style: dashed;
	}
	
.não			{
	margin-left:160px;
}etapa {
	font-weight: bold;
	background-color: #FF0;
}
.cabeçalho {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: italic;
	background-color: #ffffff;
	margin-left:10px;
	margin-right:10px;
	color:#303c49;
	font-weight: bold;
	border: 1px solid #303c49;
	border-style: dashed;
}
.texto			{
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 12px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color:#303c49;
}

.titletexto			{
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 12px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color:#303c49;
	font-weight: bold;
}

.codigo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: italic;
	background-color: #ffffff;
	margin-left:10px;
	margin-right:10px;
	color:#303c49;
	font-weight: bold;
	
